apiVersion: eksctl.io/v1alpha5
kind: ClusterConfig
metadata:
  name: goldbar-eks-01
  region: ap-east-1
iam:
  withOIDC: true
addons:
  - name: vpc-cni
    version: latest
    attachPolicyARNs:
      - arn:aws:iam::aws:policy/AmazonEKS_CNI_Policy
    configurationValues: |-
      env:
        ENABLE_PREFIX_DELEGATION: "true"
        WARM_PREFIX_TARGET: "1"
